server:
  port: 8761
  servlet:
    context-path: /eurekaservice

spring:
  application:
    name: eurekaservice

eureka:
  instance:
    hostname: ${HOST} # eureka 服務端實例名稱
  client:
    register-with-eureka: false # false 表示不向註冊中心註冊自己
    fetch-registry: false # false 表示自己是註冊中心，負責維護微服務的實例
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eurekaservice/ # Eureka 服務器的 URL
