name: Deploy to EC2
on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'

    - name: Build and Test Project
      run: |
        chmod +x gradlew
        ./gradlew build test

    - name: Get Project Version
      id: get-version
      run: |
        VERSION=$(./gradlew properties --quiet | grep '^version:' | awk '{print $2}')
        echo "version=$VERSION" >> $GITHUB_OUTPUT

    - name: Upload JAR Artifact
      uses: actions/upload-artifact@v4
      with:
        name: eurekaservice-jar-${{ steps.get-version.outputs.version }}
        path: build/libs/*.jar

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Download Artifact
      uses: actions/download-artifact@v4
      with:
        name: eurekaservice-jar-${{ needs.build.outputs.version }}
        path: ./artifacts

    - name: Deploy to EC2
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USERNAME }}
        key: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
        script: |
          cd /opt/tata/eurekaservice
          
          # Stop and remove existing container
          docker stop eurekaservice || true
          docker rm eurekaservice || true
          
          # Copy new JAR
          scp ${{ github.workspace }}/artifacts/eurekaservice-*.jar /opt/tata/eurekaservice/
          
          # Build and run new Docker container
          docker build -t eurekaservice .
          docker run -d --name eurekaservice -p 8761:8761 eurekaservice
