name: Deploy to EC2

on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0  

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'

    - name: Grant execute permission to Gradle wrapper
      run: chmod +x gradlew

    - name: Build Project
      run: ./gradlew build 

    - name: Run Tests
      run: ./gradlew test  

    - name: Get Gradle Version
      run: echo "VERSION=$(./gradlew properties --quiet | grep '^version:' | awk '{print $2}')" >> $GITHUB_ENV

    - name: Upload JAR Artifact with Version
      uses: actions/upload-artifact@v4
      with:
        name: eurekaservice-jar-${{ env.VERSION }}
        path: build/libs/*.jar

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Download Artifact
      uses: actions/download-artifact@v4
      with:
        name: eurekaservice-jar  # 確保與上傳時的名稱一致
        path: .

    - name: List downloaded files (Debug)
      run: ls -lR  # 確認 JAR 檔案是否下載成功

    - name: Copy JAR to EC2
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USERNAME }}
        key: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
        script: |
          set -e
          cd /opt/tata/eurekaservice/

          # 停止並移除舊容器
          docker stop eurekaservice || true
          docker rm eurekaservice || true

          # 移動新的 JAR
          mv ~/eurekaservice-jar/*.jar eurekaservice.jar

          # 建立新的 Docker Image
          docker build --no-cache -t eurekaservice .

          # 啟動新容器
          docker run -di --name=eurekaservice -p 8761:8761 eurekaservice

          # 查看 Log
          docker logs -f --tail 1000 eurekaservice
